; config.ini
[app]
debug=1

[mysql]
host=127.0.0.1
port=3306
user=root
passwd=root
dbname=pokemon

[mq]
host=127.0.0.1
port=0
user='guest'
password='guest'

[oss]
auth_id=xxxx
auth_key=xxxxxx
bucket_domain=http://oss-cn-xxxx.aliyuncs.com
bucket_name=xxxxx

[redis]
host=127.0.0.1
port=6379
user=''
password=''

[saver]
root_path=/Path/To/Save/Files